# Contracts
DEPLOYER_PRIVATE_KEY=
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
CELO_SEPOLIA_RPC_URL=https://forno.celo-sepolia.celo-testnet.org
USDC_ADDRESS=0x01C5C0122039549AD1493B8220cABEdD739BC44E
ORACLE_ADDRESS=
ORACLE_PRIVATE_KEY=

NEXT_PUBLIC_PREDICTION_POOL_ADDRESS=
NEXT_PUBLIC_USDC_ADDRESS=0x01C5C0122039549AD1493B8220cABEdD739BC44E
NEXT_PUBLIC_CHAIN_ID=11142220

VENICE_API_KEY=
DATABASE_URL=
NEXT_PUBLIC_APP_URL=http://localhost:3000
APP_URL=http://localhost:3000
BASESCAN_API_KEY=
